<fast-design-system-provider use-defaults>
  <fast-card style="padding:20px;">
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
    <p>Etiam dapibus tortor vel nulla eleifend, id varius elit sollicitudin. Integer a orci viverra, feugiat eros at, efficitur ligula. Pellentesque placerat id leo suscipit semper. Aliquam sed vulputate quam. Vestibulum dolor odio, hendrerit vulputate varius non, suscipit a erat. Vivamus eu lorem vitae ipsum condimentum faucibus. Sed nec purus quam. Fusce sit amet ornare nunc. Duis placerat ipsum vel tempor consectetur. Curabitur tortor turpis, feugiat ac vehicula at, tincidunt et lorem. Praesent ut mollis diam.</p>
    <fast-button appearance="accent" onclick="alert('World!')">Hello</fast-button>
  </fast-card>
</fast-design-system-provider>